# Rust
rust-generate-flush-db/target

frontend/.DS_Store
frontend/node_modules
frontend/dist

.vscode
.DS_Store

# local env files
frontend/.env*
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
backend/.idea
backend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
*.diff
*.patch
*.bak

backend/env